/* Unorderded list */
.unordered-list {
  padding-left: 20px;
  margin-bottom: 10px;
}

.right-list {
  margin-bottom: 8px;
  color: #7C7C7C;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

/* Title of Unordered list */
.header-2 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  height: 32px;
}
